.login-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 5px 5px 5px 5px black;
    padding: 20px;
    border-radius: 5px;
    font-family: poppins;
}

.button{
    background-color: green;
    width: 75px;
    height: 30px;
    font-family: poppins;
    color: white;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border: none;
    
}

.button:hover{
    background-color: red;
    text-decoration: underline;
}