.body {
    font-family: "DM Sans";
}

.navbar {
    background-color: #333;
    overflow: hidden;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans";
    border-radius: 10px;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: "DM Sans";
    border-radius: 10px;
    cursor: pointer;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: underline;
}

.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}