body {
    font-family: "Poppins";
    color:aliceblue;
    background-color:rgba(255, 145, 0, 0.733);
    font-size:100px;
}

.georgiaParagraph {
    font-family:"Georgia";
    color:rgb(221, 176, 92);
    font-size: 50 px;
}

.monserratParagraph {
    font-family:"Monserrat";
    color:rgb(221, 176, 92);
    font-size: 30 px;
}
